#footer {
  background: linear-gradient(to right, #09173e, #2f374e);
  position: relative;
  height: 500px;
  padding-top: 50px;
  @media (min-width: 250px) and (max-width: 768px) {
    height: auto;
  }
  .one-rights {
    color: #fff;
    margin-top: 10px;
    width: 90%;
    @media (min-width: 250px) and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    .data {
      width: 100%;
      padding-right: 25px;
    }
  }
  .footer-head {
    margin-bottom: 20px;
    width: 100%;
    h6 {
      color: #f8bc15;
    }
  }
  .footer-list {
    width: 100%;
    ul {
      width: 100%;
      padding: 0;
      li {
        width: 100%;
        padding: 10px 0;
        color: #fff;
        a {
          color: #fff;
          transition: all 0.5s;
          text-decoration: none;
          &:hover {
            color: #f8bc15;
          }
        }
      }
      &#social {
        display: flex;
        @media (min-width: 250px) and (max-width: 767px) {
          width: 50%;
        }
        li {
          width: 25%;
        }
      }
    }
  }
  .our-rights {
    width: 100%;
    color: white;
    direction: ltr;
    position: absolute;
    margin-top: 15px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    span {
      color: #f8bc15;
    }
  }
}
