#jobs {
  width: 100%;
  margin: 0;
  height: 200px !important;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  #jobs {
    height: 450px !important;
  }
}
@media (min-width: 992px) {
  #jobs .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
#jobs header {
  width: 100%;
  height: auto !important;
  background-color: #fff;
  border-radius: 0;
}
#jobs #custom-nav .dark-nav {
  padding: 0;
  background-color: #09173e !important;
}

#jobs-container .title h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
#jobs-container .row {
  margin: 20px 0;
}
#jobs-container .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#jobs-container .row > div .img {
  width: 80%;
}
#jobs-container .row > div .img img {
  width: 100%;
}
#jobs-container .row > div .text h3 {
  font-weight: bold;
}
#jobs-container .row > div .text p {
  font-size: 20px;
  line-height: 1.7;
}

#jobs-feature {
  background: linear-gradient(to right, #09173e, #2f374e);
  padding: 50px 0;
}
#jobs-feature h2 {
  color: #fff;
  height: 50px;
  margin-bottom: 15px;
}
#jobs-feature .row > div {
  height: 270px !important;
}
#jobs-feature .row > div .content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  height: 250px;
  padding: 25px;
}
#jobs-feature .row > div .content-container .content {
  width: 95%;
}
#jobs-feature .row > div .content-container .content .icon img {
  width: 40px;
}
#jobs-feature .row > div .content-container .content .icon img#star {
  width: 20px;
}
#jobs-feature .row > div .content-container .content .icon img#wallet {
  width: 30px;
  margin-top: 20px;
}
#jobs-feature .row > div .content-container .content .title {
  margin: 10px 0;
}
#jobs-feature .row > div .content-container .content .title h3 {
  font-weight: bold;
  font-size: 20px;
}
#jobs-feature .row > div .content-container .content .text p {
  font-size: 18px;
}

#available-jobs {
  padding: 50px 0;
}
#available-jobs h2 {
  color: #000;
  font-weight: bold;
}
#available-jobs .row > div .content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  height: 100;
  padding: 25px 0;
}
#available-jobs .row > div .content-container .content {
  width: 100%;
}
#available-jobs .row > div .content-container .content > div {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
}
#available-jobs .row > div .content-container .content .title {
  margin: 10px 0;
}
#available-jobs .row > div .content-container .content .title h3 {
  font-weight: bold;
  font-size: 20px;
}
#available-jobs .row > div .content-container .content .text p {
  font-size: 16px;
}
#available-jobs .row > div .content-container .content .details {
  margin-top: 20px;
}
#available-jobs .row > div .content-container .content .details button {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #09173e;
}/*# sourceMappingURL=jobs.css.map */