#services {
  margin: 0;
  border-radius: 0 !important;
  height: 800px;
  padding: 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 300px;
    padding: 0;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    height: 500px;
    padding: 0;
  }
  header {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    background-color: #09173e8f;
    .header-content {
      width: 100%;
      height: auto !important;
      .media {
        width: 100%;
        height: auto !important;
        img.background {
          top: 0;
          right: 0;
          display: block;
          height: 100%;
          width: 100%;
          overflow: hidden;
          width: 100%;
          -o-object-fit: fill;
          object-fit: fill;
          padding: 0;
          margin: 0;
          z-index: -1;
        }
      }
      .title {
        margin-bottom: 30px;
        h2 {
          font-weight: bold;
          color: #fff;
        }
      }
      .row {
        overflow: hidden;
        img {
          @media (min-width: 250px) and (max-width: 767px) {
            margin-right: -20px;
          }
        }
      }
    }
  }
}
#call {
  .container {
    background: linear-gradient(to right, #09173e, #2f374e);
    color: #fff;
    p {
      align-self: flex-start;
      button {
        box-sizing: border-box;
        font-size: 24px;
        width: fit-content;
      }
    }
  }
}
