* {
  font-family: "Cairo", sans-serif;
}
.blob {
  all: unset;

  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 5%;
  @media (min-width: 250px) and (max-width: 767px) {
    padding: 8%;
  }
  background-image: url("../img/header/svg/yellow.svg");
  background-size: 100% 100%;
  cursor: pointer;
  color: white;
  transition: all 1s;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  a {
    color: #fff;
    text-decoration: none;
  }
  &.blob-right {
    margin-right: 0 !important;
  }
  &:hover {
    background-image: url("../img/header/svg/blue.svg");
    background-size: 100% 100%;
    color: #fff;
  }
}
#custom-nav {
  font-family: "Cairo";
  color: #ffffff;
  height: auto;
  background-color: #09173e !important;
  @media (min-width: 250px) and (max-width: 767px) {
  }
  .nav-brand img {
    width: 100.4px;
    height: 106.98px;
  }

  .navbar-toggler {
    margin-left: 0;
    background-color: #3453ab;
  }

  .nav-container {
    div {
      margin: 0 auto;
      @media (min-width: 250px) and (max-width: 960px) {
        margin: 0;
      }
      &:first-of-type {
        .menu {
          margin: 0 auto;
          margin-right: 130px;
          @media (min-width: 250px) and (max-width: 960px) {
            margin: 0;
          }
          @media (min-width: 768px) and (max-width: 1200px) {
            margin-right: 10px;
          }
          ul {
            .nav-item {
              margin: 5px;
              cursor: pointer;
              .nav-link {
                font-weight: 400;
                color: white;
                white-space: nowrap;
                @media (min-width: 960px) {
                  color: #fff !important;
                }
                &.active {
                  color: #f8bc15 !important;
                }
              }
            }
          }
        }
      }
    }
    .more {
      div {
        margin: 5px 0;
        text-align: center;
        @media (min-width: 250px) and (max-width: 960px) {
          text-align: right;
          margin-right: 35px;
        }
        a {
          background: linear-gradient(to right, #ac8514, #f8bc15);
          border-radius: 5px;
          padding: 5px 15px;
          width: 120px;
          margin: 0 5px;
          color: white;
          transition: all 0.5s;
          border: none;
          outline: none;
          &:hover {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}
.header-container {
  width: 100%;
  height: 900px;

  position: relative;
  header {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000e46b6;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    @media (min-width: 250px) and (max-width: 768px) {
      height: auto !important;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
    }
    .header-content {
      width: 100%;
      height: 900px;
      video {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        width: 100%;
        -o-object-fit: fill;
        object-fit: fill;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
        padding: 0;
        margin: 0;
        z-index: -1;
        @media (min-width: 250px) and (max-width: 768px) {
          border-bottom-left-radius: 50% 20%;
          border-bottom-right-radius: 50% 20%;
        }
      }
    }

    .header-nav {
      .dark-nav {
        padding: 10px;
        font-family: "Cairo";
        color: #ffffff;
        height: auto;
        background-color: transparent;

        .nav-brand img {
          width: 100.4px;
          height: 106.98px;
        }

        .navbar-toggler {
          margin-left: 0;
          background-color: #fff;
        }

        .nav-container {
          @media (min-width: 250px) and (max-width: 960px) {
            display: none;
          }
          div {
            margin: 0 auto;
            @media (min-width: 250px) and (max-width: 960px) {
              margin: 0;
            }
            &:first-of-type {
              .menu {
                margin: 0 auto;
                margin-right: 130px;
                @media (min-width: 250px) and (max-width: 960px) {
                  margin: 0;
                }
                @media (min-width: 768px) and (max-width: 1200px) {
                  margin-right: 10px;
                }
                ul {
                  .nav-item {
                    margin: 5px;
                    cursor: pointer;
                    .nav-link {
                      font-weight: 400;
                      color: white;
                      white-space: nowrap;
                      @media (min-width: 960px) {
                        color: #fff !important;
                      }
                      &.active {
                        color: #f8bc15 !important;
                      }
                    }
                  }
                }
              }
            }
          }
          .more {
            div {
              margin: 5px 0;
              text-align: center;
              @media (min-width: 250px) and (max-width: 960px) {
                text-align: right;
                margin-right: 35px;
              }
              a {
                background: linear-gradient(to right, #ac8514, #f8bc15);
                border-radius: 5px;
                padding: 5px 15px;
                width: 120px;
                margin: 0 5px;
                color: white;
                transition: all 0.5s;
                border: none;
                outline: none;
                &:hover {
                  border: none;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }

    .header-row {
      z-index: 1;
      display: flex;
      height: 650px;
      @media (min-width: 250px) and (max-width: 768px) {
        height: auto !important;
      }
      justify-content: center;
      align-items: center;
      .row {
        color: white;
        width: 100%;
        div {
          display: flex;
          flex-direction: column;
          height: 300px !important;
          justify-content: center;
          @media (min-width: 250px) and (max-width: 768px) {
            height: auto !important;
            align-items: right;
            justify-content: center;
          }
          h1 {
            width: 100%;
            font-size: 40px;
            margin-bottom: 20px;
            @media (min-width: 250px) and (max-width: 768px) {
              font-size: 35px;
            }
          }
          p {
            font-size: 20px;
            width: 370px;
            font-weight: 400;
            word-spacing: 2px;
          }
          .know-more {
            margin-right: 0 !important;
            margin-top: 20px 0 !important;
            &:hover {
              background-image: url("../img/header/svg/yellow.svg");
              background-size: 100% 100%;
              color: #fff;
            }
          }
        }
        div.img {
          height: fit-content;
          @media (min-width: 250px) and (max-width: 768px) {
            align-items: flex-end;
            justify-content: flex-end;
          }
          img {
            width: 520px;
            @media (min-width: 900px) {
              margin-top: 250px;
            }
            @media (min-width: 250px) and (max-width: 968px) {
              width: 450px;
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
}
#closeNav {
  display: none;
}
.fixed-nav {
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: 99;
  background-color: #09173e8f !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 960px) {
    display: block;
  }
  #closeNav {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    i {
      z-index: 100;
      color: #fff;
      font-weight: bold;
      font-size: 35px;
    }
  }
  div {
    border-radius: 10px 10px 0 0;
    height: 50%;
    width: 50% !important;
    background-color: #09173e !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    padding: 0 !important;
    li {
      padding: 10px;
    }
  }
  .more {
    height: 10%;
    width: 50% !important;
    border-radius: 0 0 20px 20px;

    div {
      display: flex;
      justify-content: center;
      width: 100% !important;
      margin-right: 0 !important;
      a {
        display: block !important;
        height: 38px;
      }
    }
  }
}
.fixed:not(.fixed-nav) {
  display: none;
}

section {
  margin: 25px 0;
  padding: 25px 0;
  overflow: hidden;
}
#services {
  width: 100%;
  margin: 50px 0;
  .services-title {
    h2 {
      color: #000;
      font-weight: bold;
    }
    p {
      font-size: 23px;
      color: #333;
    }
  }
  .item {
    margin-bottom: 25px;
    @media (min-width: 250px) and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .item-img {
      width: 70px;
      height: 70px;
      margin: 20px 0;
    }
    .item-title {
      margin: 25px 0;
      font-weight: bold;
      font-size: 22px;
    }
    .item-text {
      font-size: 16.5px;
      width: auto;
      height: 100px;
      @media (min-width: 250px) and (max-width: 768px) {
        height: 120px;
      }
    }
    .item-link {
      color: #333 !important;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      @media (min-width: 250px) and (max-width: 768px) {
        margin-top: 20px;
      }
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }
}
#related-projects {
  padding: 10px 0;
  background-color: #e2d9c7;
  height: auto;
  .section-title {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    color: #000;
    h2 {
      font-weight: bold;
    }
  }
  .row {
    margin: 30px 0;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      justify-content: center;
      .item-img {
        margin-bottom: 30px;
        width: 78% !important;
        margin-right: 10px;
      }
      .item-title {
        text-align: center;
        margin-left: 15px;
        margin-bottom: 15px;
        letter-spacing: -1px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
#mech {
  .container {
    .mech-title {
      h2 {
        font-weight: bold;
      }
      p {
        font-size: 23px;
      }
    }
    .row {
      margin: 20px 0;
      margin-top: 100px;
      position: relative;
      overflow: hidden;
      font-family: "Cairo", sans-serif;
      .arrow {
        position: absolute;
        width: 200px;
        &.arrow-first {
          top: 7%;
          right: 17.5%;
        }
        &.arrow-second {
          transform: rotate(142deg);
          top: -4%;
          right: 42.5%;
        }
        &.arrow-third {
          top: 6%;
          right: 67.5%;
        }
      }
      .item-container {
        display: flex;
        height: 400px;
        @media (min-width: 250px) and (max-width: 768px) {
          height: 250px;
        }
        align-items: center;
        justify-content: center;
        .item {
          width: 65%;
          display: flex;
          align-items: center;
          flex-direction: column;
          &.start-flex {
            align-self: flex-start;
            @media (min-width: 250px) and (max-width: 768px) {
              align-self: center;
            }
          }
          .item-img {
            background: linear-gradient(to right, #09173e, #2f374e);
            border-radius: 15px;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 81px;
              height: 81px;
            }
          }
          .item-title {
            font-size: 20px;
            font-weight: bold;
            margin: 15px 0;
          }
          .item-text {
            font-size: 13.5px;
            width: 100%;
          }
        }
      }
      .img-pic {
        width: 85%;
      }
      .img-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 45px;
          line-height: 2;
          font-weight: bold;
          margin: 20px 0;
        }
        p {
          font-size: 22px;
        }
        button {
          display: block;
          align-self: flex-start;
          font-size: 18px;
        }
      }
    }
  }
}
#extra {
  padding: 20px;
  height: 800px;
  @media (min-width: 250px) and (max-width: 768px) {
    height: auto !important;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #09173e, #2f374e);
  .img-text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    color: #fff;
    h2 {
      font-size: 35px;
      line-height: 2;
      font-weight: bold;
      margin: 20px 0;
    }
    p {
      font-size: 22px;
      line-height: 2;
      font-weight: 300;
    }
    button {
      display: block;
      width: auto;
      box-sizing: border-box;
      height: 100px;
      align-self: flex-start;
      font-size: 18px;
    }
  }
  .img-over {
    position: relative;
    height: 500px;
    @media (min-width: 250px) and (max-width: 768px) {
      margin-top: 100px;
    }
    img {
      position: absolute;
      &#back {
        top: -32%;
        right: 14%;
        width: 100%;
        @media (min-width: 250px) and (max-width: 768px) {
          top: -9%;
          right: 14%;
          width: 88%;
        }
      }
      &#up {
        top: 24%;
        right: 7%;
        width: 61%;
        @media (min-width: 250px) and (max-width: 768px) {
          top: 24%;
          right: 4%;
          width: 60%;
        }
      }
    }
  }
}
#media {
  .container {
    .media-title {
      h2 {
        font-weight: bold;
      }
      p {
        font-size: 23px;
      }
    }
    .news-featured {
      position: relative;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (min-width: 500px) and (max-width: 768px) {
        height: auto;
      }
      img {
        width: 90%;
        z-index: -1;
        @media (min-width: 500px) and (max-width: 768px) {
          width: 100%;
        }
      }
      #feature-text {
        text-align: right;
        position: absolute;
        bottom: 86px;
        right: 296px;
        color: #c4c4c4;
        #feature-title {
          color: #fff;
          @media (min-width: 500px) and (max-width: 768px) {
            font-size: 11px;
          }
          @media (min-width: 250px) and (max-width: 500px) {
            position: static;
            font-size: 16px;
            color: #000000;
            font-weight: bold;
          }
        }
        @media (min-width: 990px) and (max-width: 1200px) {
          bottom: 117px;
          right: 249px;
        }
        @media (min-width: 768px) and (max-width: 990px) {
          bottom: 162px;
          right: 143px;
        }
        @media (min-width: 500px) and (max-width: 768px) {
          bottom: 109px;
          right: 75px;
          font-size: 15px;
        }
        @media (min-width: 250px) and (max-width: 500px) {
          position: static;
          color: #9a9696;
          font-size: 15px;
        }
      }
    }
    #navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        margin: 0 auto;
        padding: 0;
        li {
          padding: 25px 30px;
          font-weight: bold;
          text-align: center;
          color: #09173e;
          cursor: pointer;
          &.active {
            background-image: url("../img/media/darkblob.svg");
            background-size: 100% 100%;
            color: #fff;
          }
          @media (min-width: 250px) and (max-width: 768px) {
            padding: 10px;
          }
        }
      }
    }
    .item {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: right;
      .item-thumb {
        img {
          width: 95%;
          margin-bottom: 20px;
        }
      }
      .item-text {
        height: 50px;
        margin-top: 20px;
        p {
          color: #9a9696;
        }
        h5 {
          font-weight: bold;
          margin-top: -15px;
          font-size: 16px;
        }
      }
    }
  }
}
